.col-width-6{
    width: 460px;
    height: 372px;
    margin-top: 5% !important;
    background: #FFFFFF;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}
p{
    font-size:24px !important;
    width: 361px;
    height: 28px;
    position: relative;
    top: 8.4%;
    left: 7.9%;
}
label{
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    font-weight: normal;
}
form {
    margin-top: 14.7%;
    margin-left: 3.9%;
    margin-right: 3.6%;
}
.form-group {
    margin-left: 3.9%;
    margin-bottom: 24px;
    margin-right: 4.9%;
}

.form-group .btn-primary{
    background: #1D81D8;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 2px;
    width: 104px;
    height: 36px;
  /*   float: right */

}

.cancelBtn{
    background: rgba(74,74,74,0.83);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    margin-right: 10px;
    width: 104px;
    height: 36px;
}

.btnDiv{
    text-align: right;
    padding-top: 16px;
}
input {
    background: #FFFFFF  !important;
    border: 1px solid #979797 !important;
    border-radius: 2px !important;
    height: 42px;
    width: 361px;
  
}
input:-webkit-autofill {
    background-color: #FFFFFF !important;
}